{
    "app": {
        "backups_dir": "/path/to/backups",
        "uploads_dir": "/path/to/public/web/app/uploads"
    },
    "webdav": {
        "remote": "https://",
        "username": "xxxxx",
        "password": "xxxxx",
        "sql_backup_dir": "backups/database/",
        "uploads_backup_dir": "backups/uploads/"
    },
    "smtp": {
        "host": "smtp.domain.email",
        "username": "noreply@domain.nl",
        "password": "xxxxx",
        "connection_type": "ssl",
        "port": 465,
        "sent_from": "noreply@domain.nl",
        "sent_from_fullname": "noreply"
    },
    "db": {
            "host": "localhost",
            "schema": "live",
            "username": "xxxxx",
            "password": "xxxxx"
    },
    "debug": {
      "email": "admin@domain.nl",
      "apptitle": "SiteName backup system"
    }
}
