{
    "db": {
        "host": "localhost",
        "database": "breadgetter",
        "username": "root",
        "password": "root"
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "username": "your@email.nl",
        "password": "your_password",
        "connection_type": "tls",
        "port": 587,
        "sent_from": "from@email.nl"
        "sent_from_fullname": "App/Email Name"
    }
    "debug": {

    }
}
